.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.overline,
.sub-title {
  text-transform: uppercase;
  font-style: normal;
}

.h1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 5.8rem; /* 103.571% */
  letter-spacing: 2px;
}

.h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.4rem; /* 110% */
  letter-spacing: 1.429px;
}

.h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.6rem; /* 112.5% */
  letter-spacing: 1.143px;
}

.h4 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

.h5 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.714px;
}

.h6 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.286px;
}

.overline {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10px;
}

.sub-title {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.5rem; /* 192.308% */
  letter-spacing: 0.929px;
}

.body {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.5rem; /* 166.667% */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 3s ease-out;
}

.btn {
  padding: 1.5rem 3rem;
  border: 1px solid;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.btn--orange {
  background-color: #d87d4a;
  border-color: #d87d4a;
  color: #fff;
}
.btn--orange:hover {
  background-color: #fbaf85;
  border-color: #fbaf85;
}
.btn--white {
  background-color: #fff;
  border-color: #000;
}
.btn--white:hover {
  background-color: #000;
}
.btn-inline {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);
}
.btn-inline::after {
  background-color: red;
  content: "";
  position: absolute;
  top: 0;
  width: 2.3rem;
  height: 100%;
  background-color: #d87d4a;
  -webkit-mask-image: url(/assets/icons/chevron.svg);
  mask-image: url(/assets/icons/chevron.svg);
  -webkit-mask-size: contain;
  mask-image: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: right 0;
  mask-position: right 0;
}
.btn-inline:hover {
  color: #d87d4a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html {
  font-family: "Manrope", sans-serif;
}

.header {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: min-content auto;
  background-image: url(/assets/home/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center;
}
.header__content {
  grid-column: 2/-2;
  display: grid;
  grid-template-columns: subgrid;
}
.header__content--text {
  grid-column: 1/7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
}
.header__content--text .overline {
  opacity: 0.5;
}
.header__content--text .body {
  opacity: 0.75;
  width: 100%;
  max-width: 35rem;
}

.mt-sm {
  margin-top: 2.4rem;
}

.mt-md {
  margin-top: 4rem;
}

.navbar {
  grid-column: 2/-2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  color: #fff;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem; /* 192.308% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.navbar__links {
  display: flex;
  gap: 3.4rem;
  list-style: none;
}
.navbar__link:link, .navbar__link:visited {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  color: inherit;
}
.navbar__link:link:hover, .navbar__link:visited:hover {
  color: #d87d4a;
}
.navbar__logo {
  display: flex;
}
.navbar__cart {
  display: flex;
}
.navbar__cart__link:link, .navbar__cart__cart:visited {
  display: inline-block;
  height: 2rem;
  width: 2.3rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  background-color: #fff;
  -webkit-mask-image: url(/assets/shared/desktop/icon-cart.svg);
  mask-image: url(/assets/shared/desktop/icon-cart.svg);
}
.navbar__cart__link:link:hover, .navbar__cart__cart:visited:hover {
  background-color: #d87d4a;
}

.home {
  display: grid;
  grid-template-rows: 90vh auto;
  grid-template-columns: 1fr repeat(12, minmax(min-content, 6.5rem)) 1fr;
  column-gap: 3rem;
}

/*# sourceMappingURL=style.css.map */
